#root {
  margin: 0 auto;
  padding: 1.5rem;
  --navy: rgb(18, 57, 146);
}
body {
  min-height: 100vh;
}
header {
  height: 10%;
  color: red;
  border-bottom: 2px black solid;
}
.mainContent {
  display: flex;
  flex: 1;
}

.editResume {
  flex-basis: 40%;
}

.Resume {
  flex: 1;
  text-align: center;
}
